node_modules
dist
.next
.turbo
*.env
*.env.local
.env.*.local
coverage
uploads/
prisma/migrations/*.sql.bak
cms-deploy-key 
cms-deploy-key.pub
*.tsbuildinfo
apps/admin-api/prisma/*.js
apps/admin-api/prisma/*.js.map
apps/admin-api/prisma/*.d.ts